@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Nunito:600");

:root {
  --card-font-family: Cinzel Decorative, sans-serif;

  --bg-card-color: linear-gradient(to bottom, #183a01, #eef06173);

  --electric-color: #ffdd56;
  --electric-gradient: linear-gradient(to right, #a86e3c, #f5ae67);
  --electric-bg-color: linear-gradient(to bottom, #807e28, #d4d4c1ec);

  --fire-color: #af1f1f;
  --fire-gradient: linear-gradient(to right, #b81111, #f3e13d);
  --fire-bg-color: linear-gradient(to bottom, #660703, #c49a9a);
  
  --grass-color: #dde9d7;
  --grass-gradient: linear-gradient(to right, #54b811, #eef061);
  --grass-bg-color: linear-gradient(to bottom, #183a01, #bebea3c5);
  
  --bug-color: #066902;
  --bug-gradient: linear-gradient(to right, #1e4703, #f0be61);
  --bug-bg-color: linear-gradient(to bottom, #066902, #bebea3c5);
  
  --water-color: #2340e7;
  --water-gradient: linear-gradient(to right, #113eb8, #eef061);
  --water-bg-color: linear-gradient(to bottom, #02144d, #78bec7);
  
  
  --normal-color: #7c86bd;
  --normal-gradient: linear-gradient(to right, #3a559e, #b0dfae);
  --normal-bg-color: linear-gradient(to bottom, #4c5377, #bebea3c5);
  
  --poison-color: #800db6;
  --poison-gradient: linear-gradient(to right, #9e3a99, #dfaed9);
  --poison-bg-color: linear-gradient(to bottom, #540479, #bebea3c5);
  
  --ground-color: #858639;
  --ground-gradient: linear-gradient(to right, #816c44, #a3b125);
  --ground-bg-color: linear-gradient(to bottom, #52511d, #d4d4c1ec);
  
  --fairy-color: #b60d83;
  --fairy-gradient: linear-gradient(to right, #9b1985, #dfaed9);
  --fairy-bg-color: linear-gradient(to bottom, #79046a, #bebea3c5);
}

.pokeCard-grid {
 display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  gap:2%;
  max-width: 1500px;
  
}
.parallax-effect-glare-scale {
 
  
  
  
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.card {
  border-radius: 20px;
  border: 5px solid #fff;
  background: var(--bg-card-color);
  font-family: Cinzel Decorative, sans-serif;
  font-weight: 400;
  width: 300px;
  height: 350px;
  text-align: center;
  position: relative;

  display: flex;
  flex-direction: column;
  color: #111;
  height: 350px;
  width: 300px;
  margin: 2rem auto;
  
}

.card__image {
  position: absolute;
  top: -20px;
  
}

.card__image img {
  width: 200px;
  height: 200px;
  filter: drop-shadow( -8px -8px 5px rgba(0,0,0,0.3));
}

.card__image {
  position: relative;
  display: block;
  height: 185px;
}


/* .card__content {
  transform: translateZ(40px);
} */

.card__content-main {
  padding-bottom: 10px;
}

.card__title {
  font-size: 25px;
  margin-bottom: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  
}

.card__stats {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem;
}

.tag {
  font-size: 12px;
  box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.753);
 
  border-radius: 10px;
  padding: 2px 5px;
}

.center-column {
  min-width: 100px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.card__hp {
  position: relative;
  font-size: 15px;
  font-weight: 700;
}

.card__hp::before {
  position: absolute;
  top: -10px;
  left: 50%;
  width: 50%;
  height: 5px;
  border-radius: 3px;
  content: " ";
  transform: translateX(-50%);
  box-shadow: -2px -2px 2px #444;
}

/* //////////type///////// */
.card.electric {
  background: var(--electric-bg-color);
}
.card__hp.electric::before {
  background: var(--electric-gradient);
}
.tag.electric {
  background-color: var(--electric-color);
  color: #111;
}

.card.grass {
  
  background: var(--grass-bg-color);
  color: #111;
  
}
.card__hp.grass::before {
  background: var(--grass-gradient);
}
.tag.grass {
  background-color: #54b81196;
  color: #fff;
}


.card.fire {
 
  background: var(--fire-bg-color);
}
.card__hp.fire::before {
  background: var(--fire-gradient);
}
.tag.fire {
  background-color: var(--fire-color);
  color: rgb(250, 248, 248);
}


.card.water {
  
  background: var(--water-bg-color);
}
.card__hp.water::before {
  background: var(--water-gradient);
}
.tag.water {
  background-color: var(--water-color);
  color: rgb(250, 248, 248);
}

.card.bug {
  background: var(--bug-bg-color);
}
.card__hp.bug::before {
  background: var(--bug-gradient);
}
.tag.bug {
  background-color: var(--bug-color);
  color: rgb(250, 248, 248);
}

.card.normal {
  background: var(--normal-bg-color);
}
.card__hp.normal::before {
  background: var(--normal-gradient);
}
.tag.normal {
  background-color: var(--normal-color);
  color: rgb(250, 248, 248);
}

.card.poison {
  background: var(--poison-bg-color);
}
.card__hp.poison::before {
  background: var(--poison-gradient);
}
.tag.poison{
  background-color: var(--poison-color);
  color: rgb(250, 248, 248);
}

.card.ground {
  background: var(--ground-bg-color);
}
.card__hp.ground::before {
  background: var(--ground-gradient);
}
.tag.ground{
  background-color: var(--ground-color);
  color: rgb(250, 248, 248);
}

.card.fairy {
  background: var(--fairy-bg-color);
}
.card__hp.fairy::before {
  background: var(--fairy-gradient);
}
.tag.fairy{
  background-color: var(--fairy-color);
  color: rgb(250, 248, 248);
}
