
.parallax-effect-img {
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(1000px);
 
}

.card {
  border-radius: 20px;
  border: 5px solid #fff;
  background: var(--bg-card-color);
  font-family: Cinzel Decorative, sans-serif;
  font-weight: 400;
  width: 300px;
  height: 350px;
  text-align: center;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.199);
  display: flex;
  flex-direction: column;
  color: #111;
  height: 350px;
  width: 300px;
  margin: 1.5rem ;
  
  
 
}

.card__image {
  position: absolute;
  top: -20px;
  position: relative;
  display: block;
  height: 185px;
  
 
}

.card__image img {
  width: 200px;
  height: 200px;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.3));
  z-index: 9;
 
}



.card__content-main {
  padding-bottom: 10px;
  
}

.card__title {
  font-size: 25px;
  margin-bottom: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  text-shadow: 3px 5px 2px #474747;
  color: #fff;
  text-transform: capitalize;
 
}

.card__stats {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem;
}

.tag {
  font-size: 12px;
  *box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.753);
  font-weight: 700;
  border-radius: 10px;
  padding: 2px 5px;
}

.center-column {
  min-width: 100px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.card__hp {
  position: relative;
  font-size: 15px;
  font-weight: 700;
}

.card__hp::before {
  position: absolute;
  top: -10px;
  left: 50%;
  width: 50%;
  height: 5px;
  border-radius: 3px;
  content: " ";
  transform: translateX(-50%);
  box-shadow: -2px -2px 2px #444;
}

.bg-img{
  position: absolute;
  z-index: 1;
 
 filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
 top:-16px;
 left: 0px;
 *border-start-start-radius: 40px;
 *border-start-end-radius: 40px;
 overflow: hidden;
}