@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Nunito:600");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: Cinzel Decorative, sans-serif;;
 
}


  
    
  
  