@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Nunito:600");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cinzel Decorative, sans-serif;;
 background: linear-gradient(132deg, #922e3c, #2a0d5c, #212335);
 background-size: 400% 400%;
 animation: Gradient 60s ease infinite;
  min-height: 100vh;
  width: 100%;
  color: #fff;
 position: relative;
}
/* Animate Background*/
@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }